@import "tailwindcss";


@theme inline {
    /* all fonts */
   --font-poppins: var(--font-poppins);
   --font-inter: var(--font-inter);

}

@theme static{ 
         /* Primary Colors */

   --color-purple-10:#35189C;
   --color-purple-20:#5431D0;
   --color-purple-30:#653DF5;
   --color-purple-40:#4D20EF;
   --color-purple-50:#3401EE;

   /* Auxiliary Colors */
   --color-orange-10:#80440D;
   --color-yellow-10:#E9C300;
   --color-yellow-20: #FFC800;

    /* gray colors */
   
    --color-gray-900:#0A0B0D;
    --color-gray-800:#393B42;
    --color-gray-700:#5C5F69;
    --color-gray-600:#787C87;
    --color-gray-500:#979BA6;
    --color-gray-400:#ABAFBA;
    --color-gray-300:#C0C3CC;
    --color-gray-200:#DFE1E8;
    --color-gray-100:#F5F6FA;


    /* gradients */

    --background-image-linear-01: linear-gradient(114deg, #1A0078 -25.6%, #6F47FF 121.77%);
    --background-image-linear-02: linear-gradient(91deg, #0A002F -196.48%, #653DF5 223.92%);


     /* breakpoints */

    /* 1 - 640px, 2 - 1024px, 3 - 1280px */
    
      --breakpoint-tablet: 40rem; 
      --breakpoint-laptop: 64rem;
      --breakpoint-desktop: 80rem;


      --max-width-ContainerGRID: 77.875rem;
      --max-width-footerNav: 52.5625rem;
      --max-width-description: 41.25rem;
      --max-width-listing: 38.8125rem;
      --max-width-area-image:37.9375rem;

      --height-area-image: 27.625rem;

} 

button{
    cursor: pointer;
}




body{
    font-family: var(--font-inter);
    background-color: #000;
}
