@import "tailwindcss";


@theme inline {
    /* all fonts */
   --font-poppins: var(--font-poppins);
   --font-inter: var(--font-inter);

}

@theme static{ 
         /* Primary Colors */

   --color-purple-10:#35189C;
   --color-purple-20:#5431D0;
   --color-purple-30:#653DF5;
   --color-purple-40:#4D20EF;
   --color-purple-50:#3401EE;

   /* Auxiliary Colors */
   --color-orange-10:#80440D;
   --color-yellow-10:#E9C300;

    /* gray colors */
   
    --color-yellow-900:#0A0B0D;
    --color-yellow-800:#393B42;
    --color-yellow-700:#5C5F69;
    --color-yellow-600:#787C87;
    --color-yellow-500:#979BA6;
    --color-yellow-400:#ABAFBA;
    --color-yellow-300:#C0C3CC;
    --color-yellow-200:#DFE1E8;
    --color-yellow-100:#F5F6FA;


    /* gradients */

    --bg-linear-01: linear-gradient(114deg, #1A0078 -25.6%, #6F47FF 121.77%);
    --bg-linear-02: linear-gradient(91deg, #0A002F -196.48%, #653DF5 223.92%);


     /* breakpoints */

    /* 1 - 640px, 2 - 1024px, 3 - 1280px */
    
      --breakpoint-tablet: 40rem; 
      --breakpoint-laptop: 64rem;
      --breakpoint-desktop: 80rem;


      --max-width-ContainerGRID: 77.875rem;

} 

button{
    cursor: pointer;
}




body{
    font-family: var(--font-inter);
}
